U678MF_1005/CSL_mozi1.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="mozi">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="film" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType mixed="true">
            <xs:sequence>
              <xs:element name="rendezo" maxOccurs="unbounded" minOccurs="0">
                <xs:complexType>
                      <xs:attribute type="xs:byte" name="id" use="required"/>
                      <xs:attribute type="xs:string" name="nev" use="required"/>
                </xs:complexType>
              </xs:element>
              <xs:element name="iro">
                <xs:complexType>
                      <xs:attribute type="xs:byte" name="id" use="required"/>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute type="xs:byte" name="id" use="required"/>
            <xs:attribute type="xs:string" name="mufaj" use="required"/>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>  
</xs:schema>