U678MF_1005/CSL_mozi1.dtd

<!ELEMENT mozi (film)+>
<!ATTLIST mozi
  xmlns:xsi CDATA #FIXED "http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation CDATA #REQUIRED>

<!ELEMENT film (rendezo+,iro)>
<!ATTLIST film
  id CDATA #REQUIRED
  mufaj CDATA #REQUIRED>

<!ELEMENT rendezo EMPTY>
<!ATTLIST rendezo
    id CDATA #REQUIRED
    nev CDATA #REQUIRED>

<!ELEMENT iro EMPTY>
<!ATTLIST iro id CDATA #REQUIRED>
