U678MF_0928/CSL_konyv.dtd

<?xml version="1.0" encoding="UTF-8"?>

<!ELEMENT konyvek (konyv)>
<!ELEMENT konyv (cim, kiadasiEv, kiado, szerzo*, absztrakt?)>

<!ATTLIST konyv id ID #REQUIRED>
<!ELEMENT cim (#PCDATA)>
<!ELEMENT kiadasiEv (#PCDATA)>
<!ELEMENT kiado (#PCDATA)>
<!ELEMENT szerzo (#PCDATA)>
<!ELEMENT absztrakt (#PCDATA)>