U678MF_1019/szemelyekU678MF.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="szemelyek">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="szemely" maxOccurs="unbounded" minOccurs="3">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element type="xs:string" name="nev" />
                            <xs:element type="xs:byte" name="kor" />
                            <xs:element type="xs:string" name="varos" />
                        </xs:sequence>
                        <xs:attribute type="xs:string" name="id" use="required" />
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>